{% extends 'main/base.html' %}
{% load media_tag %}

{% block content %}
    {% for object in object_list %}
        <div class="card" style="width: 18rem;">
    <img src="{{ object.photo|mediapath }}" class="card-img-top" alt="{{ object.name }}">
    <div class="card-body">
        <p class="card-text"> {{ object.description }} </p>
        <a href="{% url "main:product_details"  object.id %}"> Подбронее о товаре... </a>
    </div>
    <div class="card-footer text-body-secondary">
        {{ object.price }}
    </div>

</div>
    {% endfor %}
{% endblock %}


