{% extends "main/base.html" %}
{% load media_tag %}
{% block content %}
    <div class="btn-group mb-3" role="group" aria-label="Edit buttons">
        <a href="{% url 'main:product_update' item.pk %}" class="btn btn-secondary btn-sm" title="Edit">
            Редактировать </a>
        <a href="{% url 'main:product_delete' item.pk %}" class="btn btn-danger btn-sm" title="Delete">
            Удалить </a>
    </div>
    <div class="col-lg-9 col-md-6 col-sm-12">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>

                <small class="d-block text-muted">Категория:
                    {{ item.category }}
                </small>
                <small class="d-block mb-3 text-muted">Производитель:
                    {{ item.category.description }}
                </small>
                <img style="width: 200px" src="{{ item.photo|mediapath }}" class="rounded" alt="{{ item.name }}">
                <p>
                    {{ item.description }}
                </p>
                <h2 class="card-title pricing-card-title">Цена:
                    {{ item.price }}
                </h2>
                {% if item.active_version %}
                    {{ item.active_version }}
                {% endif %}
                <button type="button" class="w-100 btn btn-lg btn-success my-2">Купить</button>
            </div>
        </div>
    </div>

{% endblock %}
