{% extends 'main/base.html' %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-8">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.as_p }}
                        </div>

                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            {% if request.user.is_authenticated %}
                                <button type="submit" class="btn btn-success mb-3">{% if object %}Сохранить{% else %}Создать{% endif %}</button>
                            {% else %}
                                <a href="{% url 'users_app:login' %}" class="btn btn-primary mb-3">Авторизоваться</a>
                            {% endif %}
                            <a class="btn btn-danger mb-3" href="{% if object %} {% url "blog:detail" object.slug %} {% else %} {% url "blog:list" %} {% endif %}">Отмена</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
